@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poetsen+One&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial;
    background-color: #18181B;
    color: white;
}
a{
    text-decoration: none;
}
body{
    overflow: hidden;
}
.container{
    display: flex;
    margin: 100px;
    height: 80vh;
}


.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    
    .header{
        flex: 1;
        .name h1{
            font-size: 3rem;
            line-height: 1;
        }
        .sub{
            opacity: .7;
        }
        .my{
            margin-top: 15px;
            margin-right: 20px;
            margin-right: 20px;
            color: #A1A1AA;
        }
    }
    

    .body{
        flex: 5;
        padding-top: 50px;
        height: 400px;
        padding-top: 10px;
        .icon{
            display: flex;
            gap: 10px;
            max-width: 12vh;
            margin-top: 10px;
        }
        .icon:hover > :not(:hover){
            transform: scale(0.8);
        }
        .icon:hover{
            opacity: 1;
            color: white;
        }
        .dev{
            transition: .35s;
            cursor: pointer;
            font-size: 30px;
            opacity: .4;
        }
        .devActiv{
            opacity: 1;
            transition: .35s;
            cursor: pointer;
        }
    }

    
    .footer{
        flex: 1;
        .icon{
            display: flex;
            font-size: 25px;
            gap: 20px;
        }
        .social{
            cursor: pointer;
        }
    }
}


.rigth{
    flex: 1;
    display: flex;
    flex-direction: column;
    

    .headerRigth{  
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .projects{
        overflow: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        grid-gap: 2px;

        .grid {
            display: flex;
            flex-direction: column;
            grid-gap: 10px;
        }
        .card {
            background-color: #18181B;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
            padding: 2px 16px 16px 16px;
            border-radius: 15px;
            cursor: pointer;
            position: relative;
            transition: box-shadow .25s;
            margin: 5px;
          
            &::before {
              content: '';
              position: absolute;
              inset: 0;
              border-radius: 15px;
            }
          
            .icon {
              z-index: 2;
              position: relative;
              display: table;
              padding: 10px;
              color: #A1A1AA;
              font-size: 12px;
              
              &::after {
                content: '';
                position: absolute;
                inset: 4.5px;
                border-radius: 15%;
                border: 1px solid rgba(255, 255, 255, 0.12);
                transition: background-color .25s, border-color .25s;
              }
            }
            
            .cardFooter{
                display: flex;
            }
        
            h4 {
              z-index: 2;
              position: relative;
              margin: 12px 0 4px 0;
              font-family: inherit;
              font-weight: 600;
              font-size: 14px;
              line-height: 2;
              color: white;
            }
          
            p {
              z-index: 2;
              position: relative;
              margin: 0;
              font-size: 14px;
              line-height: 1.7;
              color: #A1A1AA;
            }
            &:hover {
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04), 0px 15px 25px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.2);     
              .icon {
                &::after {
                  background-color: rgba(52, 211, 153, 0.1);
                  border-color: rgba(52, 211, 153, 0.2);
                }
              }
            }
          }
    }
    
}
.projects::-webkit-scrollbar{
    background-color: transparent;
    
}
.my::-webkit-scrollbar{
    background-color: transparent;
    
}


@media screen and (max-width: 768px){
    body{
        overflow: auto;
    }
    body::-webkit-scrollbar{
        background-color: transparent;
    }
    .container{
        display: block;
        margin: 0;
    }
    .left{
        display: block;
        
        .header{
            margin: 10px;
            text-align: center;
            margin-top: 50px;
            position: relative;
        }
        .body{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 200px;
            z-index: 3;
            position: relative;
            padding-top: 10px;
            .icon{
                max-width: none;
                padding-top: 15px;
            }
            .dev{
                font-size: 50px;
                outline: none;
                user-select: none;
            }
        }
        .footer{
            display: none;
        }
    }
    
    .projects{
        margin-right: 10px;
        margin-left: 10px;
    }
    
}



@media screen and (max-width: 768px){
    body{
        overflow: auto;
    }
    body::-webkit-scrollbar{
        background-color: transparent;
    }
    .container{
        display: block;
        margin: 0;
    }
    .left{
        display: block;
        
        .header{
            margin: 10px;
            text-align: center;
            margin-top: 50px;
            position: relative;
        }
        .body{
            padding-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 250px;
            z-index: 3;
            position: relative;
            .icon{
                max-width: none;
                padding-top: 15px;
            }
            .dev{
                font-size: 50px;
                outline: none;
                user-select: none;
            }
        }
        .footer{
            z-index: 2;
            position: relative;
        }
    }
    
    .projects{
        margin-right: 10px;
        margin-left: 10px;
    }
}